.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 1em #00000040;
  flex: auto;
  font-size: 1.2em;
}

.nav--title {
  padding: 1em 3em;
  text-align: center;
}

