.video--player {
  background-color: white;
  width: 100%;
  height: min(100%, calc(100vh - 7.7rem));
  margin-bottom: -0.3rem;
  transition: 0.3s ease-in-out;

  @media screen and (max-width: 2400px),
  (max-height: 1200px) {
    height: min(100%, calc(100vh - 12.7rem));
  }

  @media screen and (max-width: 900px),
  (max-height: 600px) {
    height: min(100%, calc(100vh - 8.4rem));
  }

  @media screen and (max-width: 500px),
  (max-height: 400px) {
    height: min(100%, calc(100vh - 6.7rem));
  }
}

.video--frame {
  position: relative;
  z-index: -10;
  width: 100%;

  .hovertext {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    color: #00000000;
    text-shadow: 0 0 0.1rem #00000000;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    .video--player {
      filter: blur(1.5px) brightness(75%);
    }
    .hovertext {
      color: #ffffff;
      text-shadow: 0 0 0.2rem #000000;
      border: 0.08em solid;
      padding: 1em 1em;
    }
  }
}