* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: #333;
  letter-spacing: 0.05em;
}

body {
  position: relative;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.colflex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: auto;
  background-color: whitesmoke;
  color: rgb(211, 34, 46);
}